<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Myfollow</title>
</head>
<style>
  html,
  body {
    text-align: center;
    margin: 0px auto;
  }
</style>
<style>
  .div-all {
    width: 300px;
    margin: 0 auto;
    height: 100px;
    border: 1px solid rgb(0, 0, 0)
  }
</style>

<body>
  <script type="text/javascript">{ { script } } ('{{message}}')</script>
  <h1>你关注了{{follow_me_list_len}}人</h1>
  <div>
    {% if follow_me_list_len %}
    {% for person in follow_me_list %}
    <div>
      <a href="/blog/userinfo/?info={{person.be_followed_id}}">{{person.be_followed_id}}</a>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <div>
    <a href="/blog/index/">返回主页</a>
  </div>
</body>

</html>