<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Userinfo</title>
</head>
<style>
  html,
  body {
    text-align: center;
    margin: 0px auto;
  }
</style>
<style>
  .div-all {
    width: 300px;
    margin: 0 auto;
    height: 100px;
    border: 1px solid rgb(0, 0, 0)
  }
</style>

<body>
  <script type="text/javascript">{ { script } } ('{{message}}')</script>
  <h1>查看用户：{{hisname}}</h1>
  <div>
    {% if follow_list %}
    <a href="/blog/unfollow/?goal={{hisname}}">取消关注</a>
    {% else %}
    <a href="/blog/follow/?goal={{hisname}}">关注</a>
    {% endif %}
  </div>
  <h2>TA的帖子</h2>
  <div>
    {% if post_list %}
    {% for post in post_list %}
    <div class="div-all">
      <div>
        {{post.1}}于{{post.3}}发表：
      </div>
      <div>
        {{post.2}}
      </div>
      <button style="float:right">
        <a href="/blog/like/?id={{post.0}}&from=info&state={{post.5}}">
          {% if post.5 %}
          已赞
          {% else %}
          赞
          {% endif %}
        </a>
        <a>（{{post.4}}已赞）</a>
      </button>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <div>
    <a href="/blog/index/">返回主页</a>
  </div>
</body>

</html>