<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.accessingdatamysql.dao.UserDao">
        <select id="findUsersByCondition" resultType="com.example.accessingdatamysql.domain.User" parameterType="com.example.accessingdatamysql.domain.User">
--            SELECT * FROM mid.user WHERE user_name LIKE '%${name}%'
               SELECT * FROM mid.user WHERE user_name LIKE "%"#{name}"%"

        </select>
</mapper>